@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

/* Setup CSS */
html {
  font-size: 100%;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  word-break: break-word;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

/* Specific CSS */

/* This background image svg will not have animations */

body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #043752;
  background-image: url(../images/illustration.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* <Header/> Styles */
h1 {
  font-size: clamp(32px, 10vw, 96px);
  font-weight: bold;
  margin-top: 30px;
  margin-left: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.name {
  font-size: clamp(12px, 5vw, 24px);
  font-weight: bold;
  margin-left: 10px;
}

.header-container {
  /* border: 5px solid goldenrod; */
  margin-bottom: 190px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.noSelect {
  user-select: none;
}

.animate-button {
  border: none;
  opacity: 0.5;
  background-color: rgba(255, 255, 255, 100%);
  box-shadow: 0 4px 5px 0 hsla(0, 0%, 0%, 0.2);
  display: block;
  border-radius: 20px;
  padding: 5px 10px;
  margin-top: 20px;
  margin-left: 10px;
}

.animate-button:hover {
  opacity: 1;
}

/*  <Menu/> Styles */

.menu-container {
  /* border: 5px solid goldenrod; */
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  box-shadow: 0 4px 5px 0 hsla(0, 0%, 0%, 0.2);
  margin-bottom: 10px;
  border-radius: 100px;
  z-index: 999;
  width: 100%;
  max-width: 855px;
}

/* List Styles */
.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  font-weight: 500;
  margin-bottom: 0;
  color: grey;
}

.selected {
  font-weight: 700;
  padding: 10px;
  color: black;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px;
}

.list li {
  cursor: pointer;
  padding: 10px;
}
/* ------------------------------------------------------------------------------------------------------- */

/* Drop Down */
.drop-down {
  position: absolute;
  width: 100%;
}

/* Control Top Menu */
.myControlClassName {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
  max-width: 855px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 100%);
  box-shadow: 0 4px 5px 0 hsla(0, 0%, 0%, 0.2);
}

/* Style when open */
.is-open .myControlClassName {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* Name on Top Menu */
.myPlaceholderClassName {
  font-weight: 700;
  color: black;
}

/* Menu styles */
.myMenuClassName {
  color: black;
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: gainsboro;
}

/* Each Drop down option */
.Dropdown-option {
  font-weight: 500;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10%;
  margin-right: 10%;
  cursor: pointer;
}

.Dropdown-option:hover {
  font-weight: 700;
}

.Dropdown-option:not(:last-child) {
  border-bottom: 2px solid black;
}

/* ------------------------------------------------------------------------------------------------------- */

/* Content Styles */

.content-container {
  /* border: 5px solid red; */
  width: 100%;
  height: 100%;
  padding-bottom: 8rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sources {
  list-style: inside;
  margin-bottom: 5px;
}
/* Content Container */

.information-container {
  margin-top: 50px;
  /* border: 5px solid blue; */
  padding: 20px 35px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 5px 0 hsla(0, 0%, 0%, 0.2);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow-wrap: break-word;
  width: 100%;
  max-width: 855px;
}

.information-container .name {
  margin: 0 0 25px 0;
  font-weight: 700;
}

/* .module-container {
  border: 5px solid green;
} */

.menu:hover {
  color: black;
}

/* footer styles */

.footer {
  text-align: center;
  padding-bottom: 50px;
  color: white;
}

.footer img {
  margin: 10px 10px;
}

/* Setting SVG to background */
.background {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: -9999;
}

/* Module Styles */
.module {
  height: clamp(200px, 24vw, 275px);
  width: clamp(250px, 30vw, 350px);
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
}

.yes {
  background-color: white;
  box-shadow: 0px 0px 2px green;
}

.no {
  background-color: white;
  box-shadow: 0px 0px 2px red;
}

.title {
  text-align: center;
  font-weight: 700;
  margin-top: 8%;
  margin-bottom: 4%;
}

.pointer {
  cursor: pointer;
}

.left,
.right {
  flex: 1;
}

/* Affordance ----------------------------------------------*/

.affordance {
  display: flex;
  flex-direction: column;
}

.affordance p {
  text-align: center;
  font-weight: 700;
}

.affordance img {
  height: 50px;
  width: 50px;
}

.counterNo {
  font-size: 25px;
  margin-top: 25%;
  margin-bottom: 15%;
}

.counterYes {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 10%;
}

#addsub {
  font-size: 45px;
  font-weight: 500;
}
.reset {
  margin-left: 15px;
  margin-top: 25%;
  margin-bottom: 25%;
}

/* Consistency ----------------------------------------------*/

/* .consistency {
} */

.consistency img {
  height: 50px;
  width: 50px;
}

.consistency-container {
  margin-top: 20px;
}

.consistency-row {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
}

.top {
  padding-left: 20px;
  padding-right: 20px;
}
.bot {
  padding-left: 40px;
  padding-right: 40px;
}

.hover1:hover {
  filter: drop-shadow(0px 0px 20px rgba(0, 255, 51, 1));
}

.hover2:hover {
  filter: drop-shadow(0px 0px 20px rgba(8, 0, 252, 1));
}

.hover3:hover {
  filter: drop-shadow(0px 0px 20px rgba(252, 0, 122, 1));
}

.hover4:hover {
  filter: drop-shadow(0px 0px 20px rgba(0, 255, 170, 1));
}

/* Constraint ----------------------------------------------*/

.constraint-container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.constraint-container input,
label {
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
}

.constraint .submit {
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 15px;
  border-radius: 20px;
}

.submitExtra {
  color: white;
  background-color: black;
}
.constraint .submitExtra:hover {
  color: black;
  background-color: whitesmoke;
}

.constraint-submit {
  width: 100%;
  height: 60%;
}

.constraint-submit p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.constraint label {
  font-weight: 500;
}

.hello {
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.close-button {
  display: flex;
  justify-content: flex-end;
}

.close-button button {
  background-color: white;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  margin: 15px;
}

.close-button button:hover {
  background-color: black;
  color: white;
}

/* Feedback ----------------------------------------------*/

.feedback input {
  background-color: #43b856;
  padding: 10px 40px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  font-size: 25px;
}

.giphy-embed {
  padding-left: 15px;
  padding-right: 15px;
}

.feedbackNo {
  cursor: default !important;
}

.feedbackYes:hover {
  background-color: black;
  color: white;
}

.feedback .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
}
/* Mapping ----------------------------------------------*/

/* .mapping {
} */

.bulbs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.switchesNo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switchesNo:first-of-type img {
  margin: 15px 20px 0px 20px;
}
.switchesYes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
}

.bulbs img {
  width: 60px;
  height: 60px;
}

.switches img {
  height: 35px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}

/* Visibility ----------------------------------------------*/

.visibility {
  text-align: center;
}

.visibility p {
  margin-bottom: 0px;
}

.welcome {
  margin-top: 25px;
  font-size: 35px;
}

.click-to-enter {
  cursor: pointer;
}

.enter {
  margin-top: 10px;
  background-color: rgba(177, 20, 233, 0.4);
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
}

.enter:hover {
  background-color: black;
  color: white;
}

/* Animations */
#Sun {
  opacity: 0.5;
}

.animations #InitialShip {
  visibility: hidden;
  animation: initialShip 70s linear;
  animation-iteration-count: 1;
}

.animations #Ship {
  visibility: hidden;
  animation: leftToRight 70s infinite 70s linear;
}

.animations #Sun {
  animation: sun 5s infinite linear;
}

.animations #Cloud1 {
  animation: cloud1 30s infinite ease-in-out;
}

.animations#Cloud2 {
  animation: cloud2 30s infinite ease-in-out;
}

.animations #Cloud3 {
  animation: cloud1 45s infinite linear;
}

.animations #Bubble1 {
  animation: upAndDown 20s infinite linear;
}

.animations #Bubble2 {
  animation: upAndDown 20s infinite linear;
}

.animations #Bubble1_1_ {
  animation: DownAndUp 5s infinite ease-in-out;
}

.animations #fish1 {
  animation: fish1 62s infinite ease-in-out;
}

.animations #fish2 {
  animation: fish2 46s infinite ease-in-out;
}

.animations #fish3 {
  animation: fish2 50s infinite ease-in-out;
}

.animations #fish4 {
  animation: fish2 70s infinite ease-in-out;
}

.animations #fish5 {
  animation: fish1 63s infinite ease-in-out;
}

@keyframes initialShip {
  from {
    visibility: visible;
    transform: translateX(0%);
  }
  to {
    transform: translateX(70%);
  }
}

@keyframes leftToRight {
  from {
    visibility: visible;
    transform: translateX(-55%);
  }
  to {
    visibility: visible;
    transform: translateX(70%);
  }
}

@keyframes sun {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes cloud1 {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes cloud2 {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes upAndDown {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes DownAndUp {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(1%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes fish1 {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(50%);
  }
}

@keyframes fish2 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

@media (min-width: 954px) {
  .background {
    display: block;
  }
}

/* Margin bottom Media Queries */

@media (min-width: 700px) {
  .header-container {
    margin-bottom: 130px;
  }
}

@media (min-width: 1100px) {
  .header-container {
    margin-bottom: 190px;
  }
}

@media (min-width: 1200px) {
  .header-container {
    margin-bottom: 18vw;
  }
}

@media (min-width: 1600px) {
  .header-container {
    margin-bottom: 22vw;
  }
}

@media (min-width: 1920px) {
  .header-container {
    margin-bottom: 450px;
  }
}
