@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

/* Setup CSS */
html {
  font-size: 100%;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

/* Specific CSS */

/* This background image svg will not have animations */

body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #043752;
  background-image: url(../images/illustration.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* <Header/> Styles */
h1 {
  font-size: clamp(32px, 10vw, 96px);
  font-weight: bold;
  margin-top: 30px;
  margin-left: 10px;
}

.name {
  font-size: clamp(12px, 5vw, 24px);
  font-weight: bold;
  margin-left: 10px;
}

.header-container {
  border: 5px solid goldenrod;
  margin-bottom: clamp(250px, 40%, 700px);
}

/*  <Content/> Styles */

.content-container {
  border: 5px solid red;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-container {
  border: 5px solid goldenrod;
  background-color: rgba(255, 255, 255, 90%);
  margin-bottom: 10px;

  width: 100%;
  max-width: 855px;
}

.information-container {
  border: 5px solid blue;
  background-color: rgba(255, 255, 255, 90%);
overflow-wrap: break-word;
  width: 100%;
  max-width: 855px;
}

.module-container {
  border: 5px solid green;
}

.menu {
  display: inline-block;
}



/* Setting SVG to background */
svg {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: -9999;
}

/* Module Styles */
.module{
  background-color: green;
  height: 275px;
  width: 350px;
  border-radius: 5px;
}


@media (min-width: 954px) {
  svg {
    display: block;
  }

  #Sun {
    visibility: hidden;
  }
}
